.tfl-lines {
  display: flex;
  flex-direction: column;
  .line {
    text-align: center;
    //color: #fff;
    width: 100%;
    //padding: 1rem 0.5rem;
    //background: tomato;
    + .line {
      margin-top: 0.5rem;
    }
    > span {
      display: block;
      .bakerloo &:first-child {
        background-color: $bakerloo-color;
      }
      &:first-child {
        padding: 0.5rem 1rem;
        background: $metropolitan-color;
        color: #fff;
        &.bakerloo {
          background-color: $bakerloo-color;
        }
        &.central {
          background-color: $central-color;
        }
        &.circle {
          background-color: $circle-color;
        }
        &.district {
          background-color: $district-color;
        }
        &.hammersmith-city {
          background-color: $hammersmith-city-color;
        }
        &.jubilee {
          background-color: $jubilee-color;
        }
        &.metropolitan {
          background-color: $metropolitan-color;
        }
        &.northern {
          background-color: $northern-color;
        }
        &.piccadilly {
          background-color: $picadilly-color;
        }
        &.victoria {
          background-color: $victoria-color;
        }
        &.waterloo-city {
          background-color: $waterloo-city-color;
        }
      }
    }
  }
}
